<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASAVI RENT CAR</title>
    <!-- Agrega el CSS de Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agrega el CSS personalizado -->
    <link rel="stylesheet" href="nosotros.component.css">
  
</head>
<body>
    <div class="encabezado">
        <h1>ASAVI RENT CAR</h1>
        <div class="partes">
            <a class="nav-link" href="/principal">inicio</a>
      
            
        </div>
    </div>

    <div class="imagen-container">
        <span class="texto-productos">Productos y Servicios Adicionales</span>
        <img src="https://media.istockphoto.com/id/939054688/es/foto/coche-deportivo-gris-oscuro-en-el-exterior.jpg?s=1024x1024&w=is&k=20&c=uW5cpCI4rVbQX6mBtPZUfd8z3NGJXrK3uI530O6cFTU=" class="imagen-principal" alt="Imagen principal">
    </div>

    <!-- Información acerca de la empresa -->
    <div class="empresa-info">
      
        <p style="font-size: 36px; color: black;">Protecciones:</p>
        <ul>
            <li>Protecciones por paquete - Ofrecemos una variedad de opciones de protección por paquete para adaptarse a tus necesidades de seguro de alquiler de vehículos. Nuestros paquetes incluyen cobertura contra daños por colisión, robo y responsabilidad civil.</li>

            <li>Paquete de Protección Total con PDW (a valor total) - Nuestro Paquete de Protección Total incluye daños por colisión con un valor total, brindándote tranquilidad mientras viajas. Esta opción ofrece una cobertura completa para que puedas disfrutar de tu viaje sin preocupaciones.</li>
            
            <li>Paquete de Protección Total con LDW (con promoción de 30% de descuento) - Aprovecha nuestra promoción de descuento del 30% en nuestro Paquete de Protección Total con LDW para una cobertura completa a un precio aún más bajo. Esta opción te protege contra daños por colisión, robo y responsabilidad civil, proporcionándote tranquilidad durante tu alquiler de vehículos.</li>
        </ul>
    </div>
</body>
</html>

   
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="info-box">
                <h3>Gestión de tu Renta</h3>
                <p>Realiza la gestión de tu renta de manera rápida y sencilla y eficaz su tienes algo que ni entiendes puedes marcar a nuestro telefono oh mandar un correo electronico</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">
                <h3>Más Información</h3>
                <p>Encuentra más detalles sobre nuestros servicios y ofertas.</p>
                <p>Nuestra empresa se dedica a la renta de autos y al buen servicio al cliente, por el buen servicio.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">
                <h3>Contactos</h3>
                <p>Contáctanos para cualquier consulta o duda que tengas.</p>
                <p>Télefono: 4281081112</p>
                <p>Correo Electronico: asaviarrobagmail</p>
            </div>
        </div>
    </div>
</div>
 
