.wrapper {
    display: flex;
    flex-direction: row; /* Dividir horizontalmente */
    justify-content: space-around; /* Centrar horizontalmente los contenedores */
    width: 100%;
    height: 100vh; /* Tamaño completo de la ventana */
  }
  
  .container-sm {
    flex: 1; /* Que cada contenedor ocupe el mismo espacio */
  }
  
  .container-sm h1 {
    margin: 0; /* Eliminar el margen predeterminado del h1 */
    color: white; /* Cambiar el color del texto a azul */
    background-color: skyblue; /* Agregar color de fondo amarillo */
    padding: 10px; /* Añadir espacio alrededor del texto */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border-radius: 15px;
  }
  