body {
    font-family: 'Arial', sans-serif; 
}

.card {
    background-color: #0b0b0b; 
    border: 1px solid #e9e6e6; 
}

.form-control {
    background-color: #efeaea; 
    color: #fff; 
    border: 1px solid #f0ebeb; 
}

.btn-primary {
    background-color: #090909; 
    border-color: #e9eaec; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
}

.btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
}

.custom-thead {
    background-color: #343a40; 
    color: #fff; 
}

.table th,
.table td {
    border-color: #454d55; 
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #343a40; 
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #3d444a; 
}
