<body>
  <h1><span>Lugares Para Visitar</span></h1>
  <div class="contenedor">
      <div class="texto-izquierda">
          <p>Descrubre el Mundo ASAVI RENT CAR</p>
          <p>En ASAVI Rent Car, nos apasiona brindarte la libertad para explorar el mundo a tu propio ritmo. Con una amplia gama de vehículos de alquiler y una red global de ubicaciones, estamos aquí para hacer que tus viajes sean inolvidables.

            Imagina conducir por majestuosas montañas, explorar pintorescas playas o recorrer serpenteantes carreteras a través de impresionantes paisajes. Con ASAVI Rent Car, tienes la flexibilidad de diseñar tu propio itinerario y descubrir destinos sorprendentes en cada paso del camino.</p>
      </div>
      <div class="texto-izquierda">
        <p>Descubre la Libertad con ASAVI Rent Car</p>
        <p>En ASAVI Rent Car, creemos que viajar va más allá de llegar de un punto A a un punto B; se trata de explorar, descubrir y crear recuerdos inolvidables en el camino. Con nosotros, cada viaje se convierte en una emocionante aventura llena de libertad y posibilidades.

            Nuestros vehículos están diseñados para ofrecerte comodidad, seguridad y confiabilidad en cada kilómetro que recorres. Desde los compactos ideales para explorar las bulliciosas calles de la ciudad hasta los espaciosos SUVs perfectos para aventuras al aire libre, tenemos el vehículo perfecto para satisfacer tus necesidades y adaptarse a tu estilo de viaje.</p>
    </div>
      <div class="texto-derecha">
          <img src="https://fotografias.lasexta.com/clipping/cmsimages02/2019/11/11/E7A695CF-0C9D-4ADA-94C2-A5D8898E9762/69.jpg?crop=800,450,x0,y48&width=1280&height=720&optimize=low&format=webply" alt="Imagen 1">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Bellas_Artes_01.jpg/1200px-Bellas_Artes_01.jpg" alt="Imagen 2">
      </div>
  </div>
</body>
