<app-navigation></app-navigation>
<div class="card">
    <div class="card-body">
        <form class="form" #modeloForm="ngForm" (ngSubmit)="addModelos()">
            <input type="hidden" name="id" [(ngModel)]="modelo.id">
            <div class="input-group">
                <input type="text" name="Modelo" [(ngModel)]="modelo.Modelo" placeholder="Modelo" class="form-control">
                <input type="text" name="Tipo" [(ngModel)]="modelo.Tipo" placeholder="Tipo" class="form-control">
                <input type="text" name="Marca" [(ngModel)]="modelo.Marca" placeholder="Marca" class="form-control">
                <input type="text" name="Transmision" [(ngModel)]="modelo.Transmision" placeholder="Transmision" class="form-control">
                <input type="text" name="NumPasajeros" [(ngModel)]="modelo.NumPasajeros" placeholder="NumPasajeros" class="form-control">
                <input type="text" name="NumMaletas" [(ngModel)]="modelo.NumMaletas" placeholder="NumMaletas" class="form-control">
                <input type="text" name="AireAcondicionado" [(ngModel)]="modelo.AireAcondicionado" placeholder="AireAcondicionado" class="form-control">
                <input type="text" name="Radio" [(ngModel)]="modelo.Radio" placeholder="Radio" class="form-control">
                <input type="text" name="PagoPorDia" [(ngModel)]="modelo.PagoPorDia" placeholder="PagoPorDia" class="form-control">
                <input type="text" name="UrlImagen" [(ngModel)]="modelo.UrlImagen" placeholder="UrlImagen" class="form-control">
                <input type="text" name="CantidadAutos" [(ngModel)]="modelo.CantidadAutos" placeholder="CantidadAutos" class="form-control">
                <span class="input-group-addon">
                    <button type="submit" class="btn" [ngClass]="{'btn-primary': !modoEdicion, 'btn-success': modoEdicion}">
                        {{ modoEdicion ? 'Actualizar' : 'Crear' }} Modelo
                    </button>
                </span>
                <div class="col-auto" *ngIf="modoEdicion">
                    <button type="button" class="btn btn-danger" (click)="resetForm()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped ">
        <thead class="custom-thead">
            <tr>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Transmisión</th>
                <th>Núm. Pasajeros</th>
                <th>Núm. Maletas</th>
                <th>Aire Acondicionado</th>
                <th>Radio</th>
                <th>Pago por Día</th>
                <th>Ilustración</th>
                <th>Cantidad Autos</th>
                <th>Operaciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let modelo of modelos">
                    <td>{{modelo.Modelo}}</td>
                    <td>{{modelo.Tipo}}</td>
                    <td>{{modelo.Marca}}</td>
                    <td>{{modelo.Transmision}}</td>
                    <td>{{modelo.NumPasajeros}}</td>
                    <td>{{modelo.NumMaletas}}</td>
                    <td>{{modelo.AireAcondicionado}}</td>
                    <td>{{modelo.Radio}}</td>
                    <td>{{modelo.PagoPorDia}}</td>
                    <td>
                        <div class="img-container">
                            <img [src]="modelo.UrlImagen" alt="Imagen del modelo" class="model-image">
                        </div>
                    </td>            
                <td class="text-center">{{modelo.CantidadAutos}}</td>
                <td class="text-center">
                    <button class="btn btn-success small-btn" (click)="editarModelo(modelo)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    
                    <button type="button" class="btn btn-danger small-btn" (click)="deleteModelo(modelo._id)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>