<!-- reservas.component.html -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ASAVI RENT CAR</title>
<!-- Agrega el CSS de Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Agrega el CSS personalizado -->
<link rel="stylesheet" href="vehiculos.component.css">


<div class="encabezado">
    <h1>ASAVI RENT CAR</h1>
    <div class="partes">
        <a class="nav-link" href="/principal">inicio</a>
  
        
    </div>
</div>




<div *ngFor="let modelo of modelos" class="carta">
    <img [src]="modelo.UrlImagen" alt="Imagen del vehículo" class="imagen-vehiculo">
    <div class="informacion-vehiculo">
        <h2>{{modelo.Modelo}}</h2>
        <p><strong>Tipo:</strong> {{modelo.Tipo}}</p>
        <p><strong>Transmisión:</strong> {{modelo.Transmision}}</p>
        <p><strong>Núm. Pasajeros:</strong> {{modelo.NumPasajeros}}</p>
        <p><strong>Núm. Maletas:</strong> {{modelo.NumMaletas}}</p>
        <p><strong>Aire Acondicionado:</strong> {{modelo.AireAcondicionado}}</p>
        <p><strong>Radio:</strong> {{modelo.Radio}}</p>
        <p><strong>Pago por Día:</strong> {{modelo.PagoPorDia}}</p>
        <button class="btn-en-oficinas">Pago en oficinas</button>
    </div>
</div>
