body {
  background-color: #f0f0f0; /* Color de fondo general */
}

.carta {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-top: 50px; /* Espacio en la parte superior */
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border: 1px solid #000000; /* Borde negro */
  border-radius: 10px;
  padding: 20px;
  width: 600px; /* Ancho máximo de la carta */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; /* Espacio entre las cartas */
}

.carta:not(:first-child) {
  margin-top: 50px; /* Espacio entre las cartas */
}

.imagen-vehiculo {
  width: 150px; /* Ancho deseado para la imagen */
  margin-right: 20px; /* Margen a la derecha para separar la imagen del texto */
  border-radius: 10px; /* Borde redondeado para la imagen */
}

.informacion-vehiculo {
  flex: 1; /* La información del vehículo ocupa todo el espacio disponible */
}

.carta h2 {
  font-size: 1.5em; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio después del título */
  font-family: "Times New Roman", Times, serif; /* Fuente elegante y formal */
}

.carta p {
  font-size: 1em; /* Tamaño del texto */
  margin-bottom: 5px; /* Espacio después de cada párrafo */
  font-family: "Times New Roman", Times, serif; /* Fuente elegante y formal */
}

/* Estilos para el botón "En Oficinas" */
.btn-en-oficinas {
  background-color: #000000; /* Color de fondo negro */
  color: #ffffff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espacio alrededor del texto */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar sobre el botón */
}

.btn-en-oficinas:hover {
  background-color: #333333; /* Cambiar el color de fondo al pasar el cursor */
  color: #ffffff; /* Cambiar el color del texto al pasar el cursor */
}
/* Estilos para las cartas del lado derecho */
.carta-derecha {
  margin-left: 20px; /* Espacio a la izquierda de cada carta del lado derecho */
  margin-right: auto; /* Auto para centrar horizontalmente */
}

/* Ajuste de margen superior para las cartas del lado derecho */
.carta-derecha:not(:first-child) {
  margin-top: 50px; /* Espacio entre las cartas del lado derecho */
}
/* Estilo para cada parte */
.partes {
  display: flex;
  justify-content: flex-start; /* Alinear las partes a la izquierda */
  position: absolute; /* Posición absoluta para colocar en la esquina superior izquierda */
  top: 0; /* Desde la parte superior */
  left: 0; /* Desde el lado izquierdo */
  margin: 20px; /* Agregar un margen para separar de los bordes */
  z-index: 1; /* Asegurar que esté sobre la imagen */
  max-width: 60%; /* Ancho máximo de las partes de navegación */
}

.partes a {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px; /* Agregar relleno alrededor del texto */
  position: relative; /* Establecer posición relativa para alinear los pseudoelementos */
}

.partes a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px; /* Posicionamiento a la izquierda */
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
}

.partes a:hover {
  color: #2a06ad;
  
}

.info-box {
  background-color: #101010; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px #fff (248, 246, 246, 0.1); /* Sombra */
  transition: transform 0.3s ease; /* Transición suave */
  min-height: 200px; /* Altura mínima para cada info-box */
  height: 100%; /* Tamaño fijo para cada info-box */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinear el contenido verticalmente */
}

.info-box:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
}

.info-box h3 {
  font-size: 24px; /* Tamaño del título */
  color: #e5dfdf; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
}

.info-box p {
  font-size: 16px; /* Tamaño del texto */
  color: #f7eeee; /* Color del texto */
  line-height: 1.6; /* Altura de línea */
}
/* Estilo para el encabezado */
.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Ajustar el margen inferior para que sea más largo hacia abajo */
  background-color: #000; /* Cambiar el color de fondo a negro */
  padding: 15px; /* Reducir el padding del encabezado */
  color: #fff; /* Cambiar el color del texto a blanco */
}
/* Estilos para la imagen */