/* Estilo para cada parte */
.partes {
    display: flex;
    justify-content: flex-start; /* Alinear las partes a la izquierda */
    position: absolute; /* Posición absoluta para colocar en la esquina superior izquierda */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde el lado izquierdo */
    margin: 20px; /* Agregar un margen para separar de los bordes */
    z-index: 1; /* Asegurar que esté sobre la imagen */
    max-width: 60%; /* Ancho máximo de las partes de navegación */
}

.partes a {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px; /* Agregar relleno alrededor del texto */
    position: relative; /* Establecer posición relativa para alinear los pseudoelementos */
}

.partes a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* Posicionamiento a la izquierda */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
}

.partes a:hover {
    color: #2a06ad;
    
}

.info-box {
    background-color: #101010; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px #fff (248, 246, 246, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transición suave */
    min-height: 200px; /* Altura mínima para cada info-box */
    height: 100%; /* Tamaño fijo para cada info-box */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinear el contenido verticalmente */
}

.info-box:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
}

.info-box h3 {
    font-size: 24px; /* Tamaño del título */
    color: #e5dfdf; /* Color del texto */
    margin-bottom: 10px; /* Margen inferior */
}

.info-box p {
    font-size: 16px; /* Tamaño del texto */
    color: #f7eeee; /* Color del texto */
    line-height: 1.6; /* Altura de línea */
}
/* Estilo para el encabezado */
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Ajustar el margen inferior para que sea más largo hacia abajo */
    background-color: #000; /* Cambiar el color de fondo a negro */
    padding: 15px; /* Reducir el padding del encabezado */
    color: #fff; /* Cambiar el color del texto a blanco */
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    appearance: none;
}

.btn-primary {
    background-color: #0d0d0d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #050505;
}
