
body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0); /* Cambiar el color del texto a negro */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    line-height: 1.6; /* Ajusta el interlineado */
}

h1 {
    color: rgb(241, 236, 236);
    text-align: center;
    text-transform: uppercase; /* Cambiar todas las letras del título a mayúsculas */
    font-family: Arial, sans-serif; /* Cambiar la fuente a Arial */
    margin-bottom: 20px; /* Separación del título */
    background-color: rgb(16, 18, 18); /* Agrega el fondo negro solo al título */
    padding: 20px; /* Añade relleno al título */
}

.contenedor {
    display: flex;
    flex-direction: row; /* Cambiar la dirección del flex a fila */
    padding: 20px;
    align-items: center; /* Alinea los elementos verticalmente */
}

.texto-izquierda {
    width: 40%; /* Ajusta el ancho del contenedor de texto */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Separación entre los rectángulos */
    margin-right: 20px; /* Añade un espacio entre el texto y la imagen */
}

.texto-derecha {
    width: 60%; /* Ajusta el ancho del contenedor de texto */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Separación entre los rectángulos */
}

.texto-derecha img {
    max-width: 80%; /* Reducir el tamaño máximo de la imagen al 80% */
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 10px; /* Añade un pequeño espacio entre las imágenes */
    margin-right: 20px; /* Agrega un margen derecho */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega un sombreado alrededor de la imagen */
}

.referencia {
    text-align: center; /* Alinea el texto al centro */
    font-style: italic; /* Cambia el estilo del texto a cursiva */
    margin-top: 10px; /* Agrega un margen superior */
}