.encabezado {
    position: relative; /* Posición relativa para que el ícono esté posicionado correctamente */
}

.usuario-icono {
    position: absolute; /* Posición absoluta para el ícono */
    top: 10px; /* Ajustar la posición verticalmente */
    right: 10px; /* Ajustar la posición horizontalmente */
    color: #fff; /* Color del ícono */
    font-size: 24px; /* Tamaño del ícono */
    text-decoration: none; /* Quitar subrayado del enlace */
}



/* Estilo para el encabezado */
.encabezado {
    text-align: center;
    margin-bottom: 0; /* Eliminar margen inferior para que esté más cerca de la parte de abajo */
    background-color: #000; /* Cambiar el color de fondo a negro */
    padding: 10px; /* Reducir el padding del encabezado */
    position: relative; /* Cambiar a posición relativa para alinear elementos hijos */
    z-index: 2; /* Asegurar que esté por encima de la parte negra */
}

/* Estilo para cada parte */
.partes {
    display: flex;
    justify-content: flex-start; /* Alinear las partes a la izquierda */
    position: absolute; /* Posición absoluta para colocar en el encabezado */
    top: 100%; /* Desde la parte inferior del encabezado */
    left: 0; /* Desde el lado izquierdo */
    margin: 0; /* Eliminar el margen para que se ajuste a la pantalla */
    z-index: 1; /* Asegurar que esté debajo del encabezado */
    width: 100%; /* Ajustar el ancho para que ocupe toda la pantalla */
    background-color: #000; /* Color de fondo negro */
    padding: 10px; /* Padding interno */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}



.partes a {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px; /* Agregar relleno alrededor del texto */
    position: relative; /* Establecer posición relativa para alinear los pseudoelementos */
}

.partes a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* Posicionamiento a la izquierda */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    
}

.partes a:hover {
    color: #2a06ad;
    
}

/* Estilos para la imagen */
.imagen-container {
    position: relative; /* Mantener posición relativa para los pseudoelementos */
    width: 100vw;
    max-height: 60vh;
    overflow: hidden;
    text-align: center;
    z-index: 0; /* Asegurar que esté detrás de las partes */
    margin-bottom: 20px; /* Agregar margen inferior para separar de la información acerca de la empresa */
}

.imagen-container::before,
.imagen-container::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;
    background-color: #000;
    z-index: 1;
}

.imagen-container::before {
    left: 0;
}

.imagen-container::after {
    right: 0;
}

.imagen-container img {
    width: calc(100% - 300px);
    height: auto;
    max-height: 100%; /* Altura máxima ajustada al contenedor */
    position: relative;
    z-index: 2;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el encabezado */
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Ajustar el margen inferior para que sea más largo hacia abajo */
    background-color: #000; /* Cambiar el color de fondo a negro */
    padding: 5px; /* Reducir el padding del encabezado */
}


.encabezado h1 {
    color: #fff;
    font-size: 28px; /* Reducir el tamaño del texto del encabezado */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 25px;
    margin: 0;
    line-height: 1; /* Ajustar la altura de línea para eliminar el espacio adicional */
}

/* Estilo para el texto debajo de la imagen */
.texto-debajo-imagen {
    text-align: center;
}
/* Estilos para la información acerca de la empresa */
.informacion-empresa {
    background-color: #8f8989; /* Fondo gris */
    padding: 50px 0; /* Ajustar el espacio interior */
}

.informacion-empresa h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espacio inferior */
}

.informacion-empresa p {
    margin-bottom: 20px; /* Espacio inferior entre párrafos */
}

.info-box {
    background-color: #101010; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(102, 6, 6, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transición suave */
    min-height: 200px; /* Altura mínima para cada info-box */
    height: 100%; /* Tamaño fijo para cada info-box */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinear el contenido verticalmente */
}

.info-box:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
}

.info-box h3 {
    font-size: 24px; /* Tamaño del título */
    color: #e5dfdf; /* Color del texto */
    margin-bottom: 10px; /* Margen inferior */
}

.info-box p {
    font-size: 16px; /* Tamaño del texto */
    color: #f7eeee; /* Color del texto */
    line-height: 1.6; /* Altura de línea */
}
.usuario-icono {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: #000;
    padding: 5px;
}

.encabezado h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 25px;
    margin: 0;
    line-height: 1;
}
.encabezado {
    display: flex;
    justify-content: space-between; /* Alinear los elementos al extremo derecho e izquierdo */
    align-items: center;
    background-color: #000;
    padding: 10px;
}

.encabezado h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.admin-info {
    color: #fff;
    display: flex;
    align-items: center;
}

.admin-info p {
    margin-right: 10px; /* Espacio entre "Admin" y "Administrador" */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #fff;
    color: #000;
}
.contenedor {
    position: relative;
}

.admin-info {
    position: absolute;
    bottom: 10px; /* Ajustar la distancia desde la parte inferior */
    right: 10px; /* Ajustar la distancia desde el lado derecho */
    color: #fff;
    display: flex;
    align-items: center;
}

.admin-info p {
    margin-right: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #fff;
    color: #000;
}
