<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASAVI RENT CAR</title>
    <!-- Agrega el CSS de Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agrega el CSS personalizado -->
    <link rel="stylesheet" href="pantalla-principal.component.css">
    
</head>
<body>
    <div class="encabezado">
        <h1>ASAVI RENT CAR</h1>
        <div class="partes">
            <a class="nav-link" href="/reservas">Reserva</a>
            <a class="nav-link" href="/nosotros">Adicionales</a>

            <div class="admin-info">
                <p>Admin</p>
                <a class="nav-link" href="/login">Administrador</a>
                
            </div>
            
        </div>
    </div>

    <div class="imagen-container">
        <img src="https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_1280.jpg" class="imagen-principal" alt="Imagen principal">
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-box">
                    <h3>Gestión de tu Renta</h3>
                    <p>Realiza la gestión de tu renta de manera rápida y sencilla y eficaz su tienes algo que ni entiendes puedes marcar a nuestro telefono oh mandar un correo electronico</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <h3>Más Información</h3>
                    <p>Encuentra más detalles sobre nuestros servicios y ofertas.</p>
                    <p>Nuestra empresa se dedica a la renta de autos y al buen servicio al cliente, por el buen servicio.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <h3>Contactos</h3>
                    <p>Contáctanos para cualquier consulta o duda que tengas.</p>
                    <p>Télefono: 4281081112</p>
                    <p>Correo Electronico: asaviarrobagmail</p>
                </div>
            </div>
        </div>
    </div>
     