body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    width: 40%; /* Modifica el ancho del contenedor de información */
    max-width: 400px; /* Añade un ancho máximo al contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro-info {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuadro-info h2 {
    margin-top: 0;
    font-size: 18px; /* Tamaño de fuente más pequeño */
}

.cuadro-info p {
    margin-bottom: 0;
    font-size: 14px; /* Tamaño de fuente más pequeño */
}

.boton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Agrega un margen superior al botón */
}

.boton:hover {
    background-color: #333;
}
