<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones y Descuentos</title>
    <link rel="stylesheet" href="promociones.component.css">
</head>
<body>

<div class="header">
    <h1>Promociones y Descuentos</h1>
</div>

<div class="container">
    <div class="imagen">
        <img src="https://media.istockphoto.com/id/949409516/es/foto/ilustraci%C3%B3n-3d-de-coches-suv-gen%C3%A9rico-en-blanco.jpg?s=1024x1024&w=is&k=20&c=WFpW7rsZMPe7vvwSlS7ten5w04dPFmY8ZFgnxMCkZxM=" alt="Imagen de promoción">
    </div>

    <div class="info">
        <div class="cuadro-info">
            <h2>Carros</h2>
            <p>Promoción válida con prepago.
                40% de descuento
                Tarifa base y protecciones
                Todas las categorías
                Vigencia: 01 de Marzo del 2024 al 31 de Marzo del 2024
                
                Fecha de viaje: 01 de Marzo al 31 de Marzo del 2024</p>
            <button class="boton">Ver más</button>
        </div>

        <div class="cuadro-info">
            <h2>Camionetas</h2>
            <p>60% de descuento
                Tarifa base y protecciones
                Todas las categorías
                Vigencia: 01 de Marzo del 2024 al 31 de Marzo del 2024
                
                Fecha de viaje: 01 de Abril al 30 de Septiembre del 2024</p>
            <button class="boton">Ver más</button>
        </div>
    </div>
</div>

</body>
</html>

